body {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}

canvas {
    background-color: #071e22;
}

#side-panel {
    border-right: 2px solid black;
}